 {% extends "base.html.twig" %}

 {% block body %}
   {{ form_start(form) }}
      <div class="card mt-4 container col-md-4">
         <h5 class="card-header aqua-gradient white-text text-center py-4" style="background-color:#74D0F1;">
            <strong>INSCRIPTION</strong>
         </h5>
         <div class="card-body px-lg-5 pt-0">
            <div class="md-form mt-4">
               {{ form_row(form.email, {'label': 'Adresse Mail','attr': {'placeholder': 'saisir le mail' }}) }}
            </div>
            <div class="md-form mt-4">
               {{ form_row(form.nom, {'label': ' Nom','attr': {'placeholder': 'saisir le nom' }}) }}
               </div>
               <div class="md-form mt-4">
               {{ form_row(form.prenom, {'label': 'Prenom','attr': {'placeholder': 'saisir le prenom' }}) }}
               </div>
               <div class="md-form mt-4">
                  {{ form_row(form.telephone, {'label': 'Telephone','attr': {'placeholder': 'saisir le numero de telephone' }}) }}
                  </div>
            <div class="md-form mt-2">
            {{ form_row(form.password , {'label': 'Mot de passe','attr': {'placeholder': 'saisir le mot de passe' }}) }}
            </div>
            <div class="md-form mt-2">
            {{ form_row(form.confirm_password , {'label': 'Confirmation','attr': {'placeholder': 'confirmer le mot de passe' }}) }}
            </div>
            <button type="submit" class="btn btn-success" style="background-color:#74D0F1;">Incription</button>
            
         </div>   
      </div>    
   {{ form_end(form ) }}
    
 {% endblock %}